<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Page</title>
</head>
<body>

    We confirm the Student: <span th:text="${student.firstName}+' '+ ${student.lastName}"/>
<br> <br>


    Student age: <span th:text="${student.age}"/>
    <br> <br>
country: <span th:text="${student.country}"/>

    <br> <br>
    Student age: <span th:text="${student.postalCode}"/>

    <br> <br>
    Favorite Programming Language: <span th:text="${student.favoriteLanguage}"/>

    <br> <br>
    Favorite Operating System: <span th:text="${student.operatingsystems}"/>

</body>
</html>